@media only screen and (min-width: 1px) {
  body {
    width           : 100vw;
    height          : 100vh;
    overflow        : hidden;
    background-color: $bgColor;
    color           : $overColor;
    border          : 2px solid black;
    font-family     : rcl;
    font-size       : 16px;
  }
  /* ↓↓↓ HEADER ↓↓↓ */
  .header {
    width          : 100%;
    height         : 60px;
    border-bottom  : 2px solid black;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 10px 15px;
    .logo_part {
      font-family  : rb;
      font-size    : 42px;
      color        : gold;
    }
    .central-part {
      display        : flex;
      justify-content: center;
      align-items    : center;
      &__account {
      	width        : 92px;
      	margin       : 0 20px;
      }
      &__account-type {
        margin-bottom: 6px;
      }
      &__currency-img {
      	height       : 20px;
      	margin       : 0 10px;
      }
      &__currency-value {}
      &__btn {
        height          : 6vh;
        cursor          : pointer;
        background-color: transparent;
        border          : none;
        margin          : 0 20px;
        img {
          height        : 40px;
        }
      }
    }
    .right-part {
      position    : relative;
      display     : flex;
      align-items : center;
      span {
        display   : block;
        margin    : 0 6px;
      }
      .menu {
        position        : absolute;
        z-index         : 8777;
        top             : 110%;
        width           : 100%;
        background-color: black;
        padding         : 0px 0px;
        border          : 0px solid darkgrey;
        overflow        : hidden;
        height          : 0px;
        .menu-list-a {
          display    : block;
          color      : $overColor;
          height     : 30px;
          width      : 100%;
          position   : relative;
          left       : 100%;
          line-height: 30px;
          padding    : 0px 10px;
          transition : background-color .5s;
          cursor     : pointer;
          &:hover {
            background-color: $bgColor;
            transition      : background-color .5s;
          }
        }
      }
      .call-us-btn {
        background-color: transparent;
        border          : 1px solid transparent;
        padding         : 0;
        outline         : none;
        cursor          : pointer;
        position        : relative;
        top             : 3px;
        img {
          height: 25px;
        }
      }
    }
  }
  /* ↑↑↑ /HEADER ↑↑↑ */

  /* ↓↓↓ MAIN PART ↓↓↓ */
  .main {
    width  : 100%;
    height : calc(100% - 60px);
    display: flex;

    /* ↓↓↓ SECTION 1 (work area) ↓↓↓ */
    .work_area {
      order    : 2;
      flex-grow: 1;
      width    : 60%;
      border   : {
        left   : 2px solid black;
        right  : 2px solid black;
      }
      padding: 15px;
      position: relative;
      .timer-buttons-ul {
        display : inline-block;
        position: absolute;
        z-index : 1111;
        top     : 46px;
        left    : 25px;
        .timer-buttons-li {
          display         : inline-block;
          min-width       : 45px;
          font-size       : 16px;
          border          : 1px solid silver;
          border-radius   : 4px;
          padding         : 2px 4px;
          margin-right    : 3px;
          cursor          : pointer;
          background-color: transparent;
          transition      : background-color .5s, border-color .5s;
          &:hover {
            background-color: dodgerblue;
            border-color    : dodgerblue;
          }
          &_active {
            background-color: dodgerblue;
            border-color    : dodgerblue;
          }
        }
      }
      .type-buttons-ul {
        display : inline-block;
        position: absolute;
        z-index : 1111;
        top     : 32px;
        right   : 55px;
        .type-buttons-li {
          display         : inline-block;
          position        : relative;
          margin-left     : 3px;
          width           : 36px;
          height          : 36px;
          font-size       : 16px;
          border          : 1px solid silver;
          border-radius   : 4px;
          cursor          : pointer;
          background-color: transparent;
          transition      : background-color .5s, border-color .5s;
          &:hover {
            background-color: dodgerblue;
            border-color    : dodgerblue;
          }
          &_active {
            background-color: dodgerblue;
            border-color    : dodgerblue;
          }
          img {
            width    : 30px;
            height   : 30px;
            display  : block;
            position : absolute;
            top      : 50%;
            left     : 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
      .highcharts-point-up {
        fill  : dodgerblue !important;
        stroke: dodgerblue !important;
      }

      .highcharts-point-down {
        fill  : red !important;
        stroke: red !important;
      }

      @keyframes lightbulb {
        0% {background-color: yellow; border-color: #3d4a58;}
        100% {background-color: #3d4a58; border-color: yellow;}
      }
    }
    #labelBorder {
      position        : fixed;
      background-color: lightgrey;
      padding         : 0 3px;
      font-family     : 'Lucida Sans Unicode';
      font-size       : 11px;
      line-height     : 18px;
      color           : black;
    }
    #labelIndicator {
      position                 : fixed;
      border-radius            : 50px;
      animation-name           : lightbulb;
      animation-duration       : .5s;
      animation-iteration-count: infinite;
      animation-direction      : alternate;
    }
    /* ↑↑↑ /SECTION 1 (work area) ↑↑↑ */

    /* ↓↓↓ SECTION 2 (left column) ↓↓↓ */
    .left-column {
      order    : 1;
      flex-grow: 0;
      width    : 250px;
      padding  : 15px 10px 10px 15px;
      overflow : hidden;
      position: relative;
      &__table-1-wrapper {
        height  : 100%;
        overflow: hidden;
        position: relative;
      }
      &__table-2-wrapper {
        height  : 100%;
        width   : calc( 100% + 20px);
        overflow: auto;
      }
      &__table {
      	tr {
          display    : flex;
          align-items: center;
          height     : 45px;
      		td {
      			padding: 4px;
      		}
      	}
      	.img-pair {
          width   : 30px;
          height  : 30px;
          position: relative;
      		.img-pair-top {
            width   : 20px;
            height  : 20px;
            position: absolute;
            top     : 0;
            left    : 0;
      		}
      		.img-pair-bottom {
            width   : 20px;
            height  : 20px;
            position: absolute;
            bottom  : 0;
            right   : 0;
      		}
      	}
      }
    }

    .wares-change { // border: 1px dotted red;
      position: relative;
      z-index: 1000;
      width: 220px;
      &__item {
        border: 1px solid white;
        height: 45px;
        width: 220px;
        line-height: 45px;
        text-align: center;
        font-family: rb;
        border-radius: 6px;
        position: absolute;
        user-select: none;
        cursor: pointer;
        &:not(:first-of-type) {
          background-image: linear-gradient( to right, red, dodgerblue, transparent);
          left: -250px;
          &:hover {
            background-color: dodgerblue
          }
        }
        &:nth-of-type(1) {
          background-color: dodgerblue;
        }
        &:nth-of-type(2) {
          background-image: linear-gradient( to right, navy, dodgerblue, dodgerblue, transparent);
          top: 50px;
          transition: background-color .5s ease 0s, left .3s ease 0s, top .3s ease-in;
        }
        &:nth-of-type(3) {
          background-image: linear-gradient( to right, blue, dodgerblue, dodgerblue, transparent);
          top: 100px;
          transition: background-color .5s ease 0s, left .3s ease 0.2s, top .3s ease-in;
        }
        &:nth-of-type(4) {
          background-image: linear-gradient( to right, magenta, dodgerblue, dodgerblue, transparent);
          top: 150px;
          transition: background-color .5s ease 0s, left .3s ease 0.4s, top .3s ease-in;
        }
        &:nth-of-type(5) {
          background-image: linear-gradient( to right, violet, dodgerblue, dodgerblue, transparent);
          top: 200px;
          transition: background-color .5s ease 0s, left .3s ease 0.6s, top .3s ease-in;
        }
      }
      &__changelink {
        display: block;
        line-height: 16px;
        position: absolute;
        bottom: 0px;
        right: 3px;
        color: white;
        font-family: rcli;
        font-size: 12px;
        cursor: pointer;
      }
    }
    /* ↑↑↑ /SECTION 2 (left column) ↑↑↑ */

    /* ↓↓↓ SECTION 3 (right column) ↓↓↓ */
    .right-column {
      order    : 3;
      flex-grow: 0;
      width    : 250px;
      padding  : 15px 15px 10px 15px;
      position : relative;
      .work-field {
        .trade-pair {
          position: relative;
          &__logo {
            width: 50px;
            position: absolute;
          }
          &__name {
            font-family: rcl;
            font-size: 28px;
            padding: 4px 0 10px 60px;
          }
          &__description {
            font-family: rcli;
            font-size: 14px;
            color: lightskyblue;
          }
          &__price {
            position: relative;
            top: -9px;
            left: 6px;
            letter-spacing: 2px;
          }
        }
        .investment-calculator {
          //overflow: hidden;
          display: grid;
          grid-template-columns: 1fr minmax(auto, 120px);
          grid-gap: 6px;

          label {
            height: 26px;
            line-height: 22px;
          }

          input, span {
            background-image: linear-gradient(to right, #141414, #102734);
            border: none;
            height: 26px;
            line-height: 26px;
            padding: 0 12px;
            color: white;
            font-family: rcl;
            font-size: 14px;
          }

          span {
            user-select: none;
          }

          input::placeholder {
            color: white;
            opacity: 1;
            font-family: rcl;
            font-size: 14px;
          }
        }
      }
      .work-change-btn-holder {
        width   : calc(100% - 30px);
        position: absolute;
        bottom  : 0;
        .work-change-btn {
          background-color: dodgerblue;
          border          : 1px solid dodgerblue;
          border-radius   : 4px;
          margin          : 6px auto;
          padding         : 6px;
          text-align      : center;
          cursor          : pointer;
          transition      : background-color .5s, border-color .5s;
          &:hover {
            background-color: $bgColor;
            border-color    : $overColor;
          }
        }
        .work-change-btn_active {
          background-color: $bgColor;
          border-color    : $overColor;
        }
      }
    }
    /* ↑↑↑ /SECTION 3 (right column) ↑↑↑ */
  }
  /* ↓↓↓ FOOTER ↓↓↓ */
  /* ↑↑↑ /FOOTER ↑↑↑ */
}