@media screen and (min-width: 576px) and (min-height:660px) {
  /* ↓↓↓ HEADER ↓↓↓ */
  .header {
    padding                      : 10px 15px;
    .logo_part {
      img {
        height                   : 36px;
        &:first-of-type {
          display                : block;
        }
        &:last-of-type {
          display                : none;
        }
      }
    }
    .central-part {
      &__account-type {
        margin-bottom            : 6px;
      }

      &__btn {
        img {
          position               : relative;
          top                    : 0px;
          left                   : 0px;
          transform              : none;
        }
      }
      &__btn-text {
        display                  : block;
      }
    }
    .right-part {
      .header-titles {
        display                  : block;
        margin                   : 0 6px;
        width                    : auto;
        color                    : white;
      }
    }
  }
  /* ↑↑↑ /HEADER ↑↑↑ */

  /* ↓↓↓ MAIN PART ↓↓↓ */
  .main {
    /* ↓↓↓ SECTION 1 (work area) ↓↓↓ */
    .work_area {
      padding                    : 10px;
      .graphic-header {
        height                   : 42px;
        flex-wrap                : nowrap;
        .currency-logo-holder {
          min-width              : 150px;
          justify-content        : start;
          h2 {
            font-size            : 20px;
            padding-left         : 10px
          }
        }
        .timer-buttons-ul {
          width                  : 160px;
          .timer-buttons-li {
            margin               : 0 3px 3px 0;
          }
        }
        .type-buttons-ul {
        }
      }
    }
    #container {
      height                     : calc(100% - 280px);
    }

    .slider-area {
      bottom                     : 80px;
      .active-slider {
        &__item {
          max-width              : 360px;
          min-width              : 360px;
          padding                : 5px;
          grid-template-columns  : 20px 1fr;
          grid-column-gap        : 4px;
        }
        &__info {
          top                    : 5px;
          left                   : 29px;
        }
      }
    }
    .navigation {
      height             : 60px;
      &__btn {
        height           : 60px;
        line-height      : 58px;
      }
      &__body {
        height               : 180px;
        padding              : 15px;
        grid-template-columns: 1fr 1fr;
      }
      &__items {
        font-size        : 16px;
        padding          : 13px;
        padding          : 0 20px;
        svg {
          display        : block;
        }
      }
    }
    /* ↑↑↑ /SECTION 1 (work area) ↑↑↑ */

    /* ↓↓↓ SECTION 2 (left column) ↓↓↓ */
    .left-column {
      height                     : calc(100% - 241px);
      .wares-slider {
        &__item {
           height                 : calc(100vh - 300px);
        }
      }
    }
    /* ↑↑↑ /SECTION 2 (left column) ↑↑↑ */

    /* ↓↓↓ SECTION 3 (right column) ↓↓↓ */
    .right-column {
      height                    : calc(100% - 241px);
    }
    /* ↑↑↑ /SECTION 3 (right column) ↑↑↑ */
  }
}