doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title waldteufel@ukr.net
    link(rel='icon', href='img/wehrwolf.jpg')

    // stylesheet
    link(rel='stylesheet', type='text/css', href='libs-css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='libs-css/slick.css')
    link(rel='stylesheet', type='text/css', href='libs-css/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='libs-css/TimeCircles.css')
    // own stylesheet
    link(rel='stylesheet', type='text/css', href='css/style.css')

    // jquery
    script(src='libs/jquery 3.3.1.js')

  body
    //- include BEM-blocks/size-info/size-info.pug

    //- button.tempBTN(style='width: 120px; height: 30px; position: fixed; left: 10px; bottom: 120px; z-index: 9999; cursor: pointer') temp-btn
    //- button.tempBTN2(style='width: 120px; height: 30px; position: fixed; left: 10px;bottom: 90px; z-index: 9999; cursor: pointer') temp-btn2

    // HEADER
    header.header
      .logo_part
        |LOGOGO
      .central-part
        .central-part__account
          .central-part__account-type
            |Account:
            |
            span Demo
          include BEM-blocks/simple-switcher/simple-switcher.pug
        img.central-part__currency-img(src='img/Bitcoin.png' alt='img/Bitcoin.png')
        .central-part__currency-value 9999.99
        button.central-part__btn(title='пополнить счет')
          img(src='img/wallet.png' alt='wallet.png')
      .right-part
        button.call-us-btn(title='contact us'): img(src="img/call-center.png", alt="call-center.png")
        span Menu:
        include BEM-blocks/menu-btn/menu-btn.pug
        span Lang:
        include BEM-blocks/language-switcher/language-switcher.pug
        .menu
          ul.menu-list
            li.menu-list-item
              a.menu-list-a Found your account
            li.menu-list-item
              a.menu-list-a Withdrawal of funds
            li.menu-list-item
              a.menu-list-a Finance
            li.menu-list-item
              a.menu-list-a#profile-editor Manage your profile
            li.menu-list-item
              a.menu-list-a Education
            li.menu-list-item
              a.menu-list-a Sign out
    // /HEADER

    // MAIN PART
    main.main

      // SECTION 1 (work area)
      section.work_area
        .graphic-header
          ul.timer-buttons-ul
            li.timer-buttons-li.timer-buttons-li_active(data-time='5')  5 min.
            li.timer-buttons-li(data-time='10') 10 min.
            li.timer-buttons-li(data-time='15') 15 min.
            li.timer-buttons-li(data-time='30') 30 min.
            li.timer-buttons-li(data-time='45') 45 min.
            li.timer-buttons-li(data-time='60') 60 min.
          .currency-logo-holder
            img.img-pair(src='img/BTCETH.png')
            h2 BTC ETH
          ul.type-buttons-ul
            li.type-buttons-li.type-buttons-li_active(data-type='areaspline')
              img(src='img/chart-line.png', alt='chart-line.png')
            li.type-buttons-li(data-type='candlestick')
              img(src='img/chart-candle.png', alt='chart-candle.png')
            li.type-buttons-li(data-type='ohlc')
              img(src='img/chart-bars.png', alt='chart-bars.png')

        #container(style='width: 100%; height: calc(100% - 250px)')
        p#labelBorder
        #labelIndicator
        .slider-area
          .slider-area__slider#active-slider

            .active-slider__item
              .active-slider__item-timer-wrapper
                .active-slider__item-timer.active-slider__item-timer_days(data-date="2018-12-01 00:00:00")
                .active-slider__item-timer.active-slider__item-timer_hours(data-date="2018-12-01 00:00:00")
                .active-slider__item-timer.active-slider__item-timer_minutes(data-date="2018-12-01 00:00:00")
                .active-slider__item-timer.active-slider__item-timer_seconds(data-date="2018-12-01 00:00:00")
              .active-slider__item-graphic
              .active-slider__info
                span.active-slider__pair-name BTC/ETH
                  |
                  |
                span.active-slider__parlay 30
                  |
                  |
                  i.fas.fa-angle-double-up
                .active-slider__start-price 12345.67890


          .slider-area__slider#history-slider
            .slider-area__slider-item.history-slider__item.slider-area__win
              span.history-slider__item-start время открытия:
              span.history-slider__item-start-value 2018.09.27 14:34
              span.history-slider__item-end время закрытия:
              span.history-slider__item-end-value 2018.09.28 14:34
              span.history-slider__item-class класс сделки:
              span.history-slider__item-class-value обычная
              span.history-slider__item-type тип сделки:
              span.history-slider__item-type-value вниз
              span.history-slider__item-pair торговая пара:
              span.history-slider__item-pair-value BTC/UAH
              span.history-slider__item-open цена открытия:
              span.history-slider__item-open-value 12345.645
              span.history-slider__item-close цена закрытия:
              span.history-slider__item-close-value 14322.643
              span.history-slider__item-parlay ставка:
              span.history-slider__item-parlay-value 144
              span.history-slider__item-profit выигрыш:
              span.history-slider__item-profit-value 144
            .slider-area__slider-item.history-slider__item.slider-area__lose
              span.history-slider__item-start время открытия:
              span.history-slider__item-start-value 2018.09.27 14:34
              span.history-slider__item-end время закрытия:
              span.history-slider__item-end-value 2018.09.28 14:34
              span.history-slider__item-class класс сделки:
              span.history-slider__item-class-value обычная
              span.history-slider__item-type тип сделки:
              span.history-slider__item-type-value вниз
              span.history-slider__item-pair торговая пара:
              span.history-slider__item-pair-value BTC/UAH
              span.history-slider__item-open цена открытия:
              span.history-slider__item-open-value 12345.645
              span.history-slider__item-close цена закрытия:
              span.history-slider__item-close-value 14322.643
              span.history-slider__item-parlay ставка:
              span.history-slider__item-parlay-value 144
              span.history-slider__item-profit выигрыш:
              span.history-slider__item-profit-value 144
            .slider-area__slider-item.history-slider__item.slider-area__lose
              span.history-slider__item-start время открытия:
              span.history-slider__item-start-value 2018.09.27 14:34
              span.history-slider__item-end время закрытия:
              span.history-slider__item-end-value 2018.09.28 14:34
              span.history-slider__item-class класс сделки:
              span.history-slider__item-class-value обычная
              span.history-slider__item-type тип сделки:
              span.history-slider__item-type-value вниз
              span.history-slider__item-pair торговая пара:
              span.history-slider__item-pair-value BTC/UAH
              span.history-slider__item-open цена открытия:
              span.history-slider__item-open-value 12345.645
              span.history-slider__item-close цена закрытия:
              span.history-slider__item-close-value 14322.643
              span.history-slider__item-parlay ставка:
              span.history-slider__item-parlay-value 144
              span.history-slider__item-profit выигрыш:
              span.history-slider__item-profit-value 144
            .slider-area__slider-item.history-slider__item.slider-area__win
              span.history-slider__item-start время открытия:
              span.history-slider__item-start-value 2018.09.27 14:34
              span.history-slider__item-end время закрытия:
              span.history-slider__item-end-value 2018.09.28 14:34
              span.history-slider__item-class класс сделки:
              span.history-slider__item-class-value обычная
              span.history-slider__item-type тип сделки:
              span.history-slider__item-type-value вниз
              span.history-slider__item-pair торговая пара:
              span.history-slider__item-pair-value BTC/UAH
              span.history-slider__item-open цена открытия:
              span.history-slider__item-open-value 12345.645
              span.history-slider__item-close цена закрытия:
              span.history-slider__item-close-value 14322.643
              span.history-slider__item-parlay ставка:
              span.history-slider__item-parlay-value 144
              span.history-slider__item-profit выигрыш:
              span.history-slider__item-profit-value 144
            .slider-area__slider-item.history-slider__item.slider-area__lose
              span.history-slider__item-start время открытия:
              span.history-slider__item-start-value 2018.09.27 14:34
              span.history-slider__item-end время закрытия:
              span.history-slider__item-end-value 2018.09.28 14:34
              span.history-slider__item-class класс сделки:
              span.history-slider__item-class-value обычная
              span.history-slider__item-type тип сделки:
              span.history-slider__item-type-value вниз
              span.history-slider__item-pair торговая пара:
              span.history-slider__item-pair-value BTC/UAH
              span.history-slider__item-open цена открытия:
              span.history-slider__item-open-value 12345.645
              span.history-slider__item-close цена закрытия:
              span.history-slider__item-close-value 14322.643
              span.history-slider__item-parlay ставка:
              span.history-slider__item-parlay-value 144
              span.history-slider__item-profit выигрыш:
              span.history-slider__item-profit-value 144

          .slider-area__slider#deposit-slider
            .slider-area__slider-item.deposit-slider__item
              span.deposit-slider__item-date-name дата:
              span.deposit-slider__item-date-value 03.10.2018
              span.deposit-slider__item-sum-name сумма:
              span.deposit-slider__item-sum-full-value
                span.deposit-slider__item-sum-value 12345.67890
                  |
                  |
                span.deposit-slider__item-sum-currency USD
              span.deposit-slider__item-system-name Платёжная система:
              span.deposit-slider__item-system-value MasterCard
            .slider-area__slider-item.deposit-slider__item
              span.deposit-slider__item-date-name дата:
              span.deposit-slider__item-date-value 03.10.2018
              span.deposit-slider__item-sum-name сумма:
              span.deposit-slider__item-sum-full-value
                span.deposit-slider__item-sum-value 12345.67890
                  |
                  |
                span.deposit-slider__item-sum-currency USD
              span.deposit-slider__item-system-name Платёжная система:
              span.deposit-slider__item-system-value MasterCard
            .slider-area__slider-item.deposit-slider__item
              span.deposit-slider__item-date-name дата:
              span.deposit-slider__item-date-value 03.10.2018
              span.deposit-slider__item-sum-name сумма:
              span.deposit-slider__item-sum-full-value
                span.deposit-slider__item-sum-value 12345.67890
                  |
                  |
                span.deposit-slider__item-sum-currency USD
              span.deposit-slider__item-system-name Платёжная система:
              span.deposit-slider__item-system-value MasterCard
            .slider-area__slider-item.deposit-slider__item
              span.deposit-slider__item-date-name дата:
              span.deposit-slider__item-date-value 03.10.2018
              span.deposit-slider__item-sum-name сумма:
              span.deposit-slider__item-sum-full-value
                span.deposit-slider__item-sum-value 12345.67890
                  |
                  |
                span.deposit-slider__item-sum-currency USD
              span.deposit-slider__item-system-name Платёжная система:
              span.deposit-slider__item-system-value MasterCard
            .slider-area__slider-item.deposit-slider__item
              span.deposit-slider__item-date-name дата:
              span.deposit-slider__item-date-value 03.10.2018
              span.deposit-slider__item-sum-name сумма:
              span.deposit-slider__item-sum-full-value
                span.deposit-slider__item-sum-value 12345.67890
                  |
                  |
                span.deposit-slider__item-sum-currency USD
              span.deposit-slider__item-system-name Платёжная система:
              span.deposit-slider__item-system-value MasterCard

          .slider-area__slider#withdrawal-slider
            .slider-area__slider-item.withdrawal-slider__item
              span.withdrawal-slider__item-date-name дата:
              span.withdrawal-slider__item-date-value 03.10.2018
              span.withdrawal-slider__item-sum-name сумма:
              span.withdrawal-slider__item-sum-full-value
                span.withdrawal-slider__item-sum-value 12345.67890
                  |
                  |
                span.withdrawal-slider__item-sum-currency USD
              span.withdrawal-slider__item-system-name Платёжная система:
              span.withdrawal-slider__item-system-value MasterCard
            .slider-area__slider-item.withdrawal-slider__item
              span.withdrawal-slider__item-date-name дата:
              span.withdrawal-slider__item-date-value 03.10.2018
              span.withdrawal-slider__item-sum-name сумма:
              span.withdrawal-slider__item-sum-full-value
                span.withdrawal-slider__item-sum-value 12345.67890
                  |
                  |
                span.withdrawal-slider__item-sum-currency USD
              span.withdrawal-slider__item-system-name Платёжная система:
              span.withdrawal-slider__item-system-value MasterCard
            .slider-area__slider-item.withdrawal-slider__item
              span.withdrawal-slider__item-date-name дата:
              span.withdrawal-slider__item-date-value 03.10.2018
              span.withdrawal-slider__item-sum-name сумма:
              span.withdrawal-slider__item-sum-full-value
                span.withdrawal-slider__item-sum-value 12345.67890
                  |
                  |
                span.withdrawal-slider__item-sum-currency USD
              span.withdrawal-slider__item-system-name Платёжная система:
              span.withdrawal-slider__item-system-value MasterCard
            .slider-area__slider-item.withdrawal-slider__item
              span.withdrawal-slider__item-date-name дата:
              span.withdrawal-slider__item-date-value 03.10.2018
              span.withdrawal-slider__item-sum-name сумма:
              span.withdrawal-slider__item-sum-full-value
                span.withdrawal-slider__item-sum-value 12345.67890
                  |
                  |
                span.withdrawal-slider__item-sum-currency USD
              span.withdrawal-slider__item-system-name Платёжная система:
              span.withdrawal-slider__item-system-value MasterCard
            .slider-area__slider-item.withdrawal-slider__item
              span.withdrawal-slider__item-date-name дата:
              span.withdrawal-slider__item-date-value 03.10.2018
              span.withdrawal-slider__item-sum-name сумма:
              span.withdrawal-slider__item-sum-full-value
                span.withdrawal-slider__item-sum-value 12345.67890
                  |
                  |
                span.withdrawal-slider__item-sum-currency USD
              span.withdrawal-slider__item-system-name Платёжная система:
              span.withdrawal-slider__item-system-value MasterCard

      // /SECTION 1

      // SECTION 2 (left column)
      section.left-column
        .wares-slider
          .wares-slider__item
            h5.wares-slider__item-header Акции

            .wares-slider__item-table-1-wrapper
              .wares-slider__item-table-2-wrapper
                table.wares-slider__table
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 1111
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td qqq
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td XXXXX

          .wares-slider__item
            h5.wares-slider__item-header Валютные пары

            .wares-slider__item-table-1-wrapper
              .wares-slider__item-table-2-wrapper
                table.wares-slider__table
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99

          .wares-slider__item
            h5.wares-slider__item-header Криптовалюта

            .wares-slider__item-table-1-wrapper
              .wares-slider__item-table-2-wrapper
                table.wares-slider__table
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99

          .wares-slider__item
            h5.wares-slider__item-header Товары

            .wares-slider__item-table-1-wrapper
              .wares-slider__item-table-2-wrapper
                table.wares-slider__table
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-up(style='font-size: 24px; color: green')
                    td 9999.99
                  tr
                    td: .img-pair
                      img.img-pair-top(src='img/Bitcoin.png' alt='img/Bitcoin.png')
                      img.img-pair-bottom(src='img/dollar.png' alt='img/dollar.png')
                    td BTC/USDt
                    td: i.fas.fa-caret-down(style='font-size: 24px; color: red')
                    td 9999.99

      // /SECTION 2

      // SECTION 3 (right column)
      section.right-column
        .work-field
          .trade-pair
            img.trade-pair__logo(src="img/BTCETH.png", alt="BTCETH.png")
            h5.trade-pair__name BTC/ETH
            p.trade-pair__description котировка: биткоин/тугрик
            i.fas.fa-caret-up(style='font-size: 40px; color: green')
            span.trade-pair__price 12345.67890

          include BEM-blocks/tug-of-war/tug-of-war.pug

          .investment-calculator
            label(for='#investment-input') инвестиции:
            input(id='investment-input' type='text' placeholder='инвестиции')

            label(for='#investment-percent') доход, %:
            span(id='investment-percent' type='text') 80

            label(for='#investment-result') прибыль:
            span(id='investment-result' type='text')

          #UTC-datetimer-holder
            span#UTC-datetimer-info Время UTC: &nbsp
            span#UTC-datetimer

          .parlay-slider
            .parlay-slider__item(data-parlayType='short')
              h5.parlay-slider__item-header Быстрые
              .parlay-slider__item-choice-field
                .parlay-slider__parlay-choise-btn-holder
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='30000') 30 секунд
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='60000') 1 минута
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='120000') 2 минуты
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='180000') 3 минуты

            .parlay-slider__item(data-parlayType='normal')
              h5.parlay-slider__item-header Нормальные
              .parlay-slider__item-choice-field
                .parlay-slider__parlay-choise-btn-holder

            .parlay-slider__item(data-parlayType='long')
              h5.parlay-slider__item-header Длинные
              .parlay-slider__item-choice-field
                .parlay-slider__parlay-choise-btn-holder
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='86400000') 1 сутки
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='432000000') 5 суток
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='864000000') 10 суток
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='1296000000') 15 суток
                  .parlay-slider__parlay-choise-btn(onclick='highlightingParlayChoiseBtn(this)' data-timeToEndInMS='2592000000') 30 суток

          .parlay-btns__holder
            .parlay-btns__btn.parlay-btns__btn_up(data-parlayAnticipation='up') Вверх
              |
              |
              i.fas.fa-angle-double-up
            .parlay-btns__btn.parlay-btns__btn_down(data-parlayAnticipation='down')
              i.fas.fa-angle-double-down
              |
              | Вниз
            .parlay-btns__cover
              .parlay-btns__cover-left
              .parlay-btns__cover-right

        .slider-change-btn-holder
          .slider-change-btn.active-slider-btn.slider-change-btn_active Активные сделки
          .slider-change-btn.history-slider-btn История сделок
          .slider-change-btn.deposit-slider-btn История депозитов
          .slider-change-btn.withdrawal-slider-btn История выводов
      // /SECTION 3

      //- // SECTION 4 (popups)
      //- section.popups
      //-   include BEM-Blocks/popup-make-lodgement/make-lodgement.pug
      //-   include BEM-Blocks/popup-buy-sell-ok-info/buy-sell-ok-info.pug
      //-   include BEM-blocks/popup-message-to-mentor/message-to-mentor.pug
      //-   include BEM-blocks/popup-message-from-mentor/message-from-mentor.pug
      //-   include BEM-blocks/popup-profile-editor/profile-editor.pug
      include BEM-blocks/popup-info-message/info-message.pug
      //- // /SECTION 4
    // /MAIN PART

    // FOOTER
    footer.footer
    // /FOOTER

    // js-libs (font awesome, slick, wow ...)
    script(src='libs/fontawesome.js')
    script(src='libs/highstock.js')
    script(src='libs/jquery-ui.js')
    script(src='libs/slick.js')
    script(src='libs/TimeCircles.js')

    // own js
    script(src='js/js.js')
    script(src='js/myFirstHighstock.js')